.title {
    font-size: 21px;
}
.orderWrap {
    width: 1000px;
    margin: 20px;
    background-color: var(--background-color-contentLight);
    /* border: var(--border-content); */
    box-shadow:  var(--box-shadow-content); 
    border-radius: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;
}
