.title {
    font-size: 24px;
}
.orderWrap {
    width: 800px;
    margin: 20px;
    background-color: var(--background-color-contentLight);
    /* border: var(--border-content); */
    box-shadow:  var(--box-shadow-content); 
    border-radius: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;
}
/* Медиа запросы */
@media (max-width: 991px) {
    .orderWrap  {
        width: 640px;
        margin: 10px;
    }
}
@media (max-width: 430px) {
    .orderWrap  {
        width: 280px;
        margin: 3px;
        margin-left: 4px;
        
    }
   
}
