.productsWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    /* flex-direction: row; */  
}
.cardWrapID {
    height: 500px;
    width: 900px;
    margin: 5px;
    background-color: var(--background-color-contentLight);
    border: var(--border-content);
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 18px;
}
.image {
    height: 500px;
    width: 500px;
    border: var(--border-content);
    border-radius: 15px;
    box-sizing: border-box;
}
 .button {
    height: 50px;
    width: 270px;
    border-radius: 15px;
    align-self: center;
    background-color: var(--background-color-contentMedium);
    border: 3px var(--background-color-contentLarge) solid;
    color: white;
    font-size: 23px;
    font-weight: 700;
}
.price {
    font-size: 21px;
}
