.basketCardWrap {
    height: 170px;
    width: 630px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding-left: 5px;
    background-color: #bebebe;
    border: 1px white solid;
    border-radius: 20px;

}
.image {
    height: 160px;
    width: 160px;
    background-color: #d8d8d8;
    border: 1px white solid;
    border-radius: 20px;
}