/* :root {
    --background-color: rgb(213, 213, 213);
    --button-background-color: rgb(246, 128, 246);
    --button-background-color-hover: rgb(241, 33, 241);
    --button-background-color-disabled: rgb(249, 183, 249);
    --button-text-color: rgb(255, 255, 255);
    --button-outlined-text-color: rgb(147, 90, 255);
    --link-color: rgb(111, 35, 253);
  }
  html,
  body {
    max-width: 100%;
    font-family: sans-serif;
  } */
