/* :root {
    --background-color: ;
    --button-background-color: ;
    --button-background-color-hover: ;
    --button-background-color-disabled: ;
    --button-text-color: ;
    --button-outlined-text-color: ;
    --link-color: ;
  }
  html,
  body {
    max-width: 100%;
    font-family: sans-serif;
  } */
